/* #bouton {
    margin: 1%;
    margin-left: 0;
}

#bouton2 #bouton3 {
    margin: 1%;
} */
.columns {
    background-color: #fff;
}
.scrollDiv {
    
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.divFlex {
    display: flex;
    flex-direction: row;
    margin: 1%;
}

.label {
    margin: 3%;
}

.label2 {
    margin: 3%;
}

.label3 {
    margin: 3%;
}