.display {
    display: flex;
    flex-direction: column;
}

.machineList {
    background-color: bisque;
    /* width: 30%; */
}

.machineSelected {
    background-color: aqua;
    width: 70%;
}

body {
    background-color: beige;
}